/* Colors */
$--color-primary: #545454;
$--color-secondary: #8c8c8c;
$--color-default: #fff;

body {
  font-family: "Poppins", sans-serif;
  background: #eceffc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-card {
  background: $--color-default;
  width: 300px;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 23px;
  padding-bottom: 17px;
  border-radius: 25px;
  box-shadow: 0 6px 30px rgba(207, 212, 222, 0.3);
  transition: all 0.3s ease;
  border: 4px solid transparent;

  &:hover {
    transform: translateY(-0.8%);
    border-color: #09deff;
  }

  .product-image {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
    }
  }

  .product-descript {
    margin: 25px 0;
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      color: $--color-primary;
      text-decoration: none;
      margin: 0;
      font-size: 23px;
      font-weight: 600;
    }
    .btnShopping {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $--color-default;
      // width: 50px;
      // height: 43px;
      // line-height: 0;
      padding: 15px 15px;
      border-radius: 999px;
      box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
      border: none;
      font-size: 17px;
      transition: all 0.3s ease;
      cursor: pointer;

      span {
        display: flex;
      }

      &:hover {
        background: #09deff;
        color: $--color-default;
      }
      &.shoppingActive {
        background: #09deff;
        color: $--color-default;
        animation: scaleShopping 0.3s ease;
      }

      @keyframes scaleShopping {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }

      &.scaleActive {
        animation: scaleActive 0.3s ease;
      }

      @keyframes scaleActive {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }

  .line-divide {
    width: 100%;
    height: 1px;
    background: $--color-secondary;
    margin-bottom: 15px;
  }

  .more-product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    color: $--color-secondary;
    font-size: 14px;
    font-weight: 300;

    .viewMyCart {
      text-decoration: none;
      pointer-events: none;
      color: #c6c6c6;
      letter-spacing: 1px;
      font-weight: 700;
      background: #f1f1f1;
      padding: 5px 10px;
      border-radius: 999px;
      border: 1px solid #c6c6c6;
      transition: all 0.2s ease;

      span {
        transition: all 0.3s ease;
      }

      &.viewMyCartActive {
        pointer-events: visible;
        background: #09deff;
        box-shadow: 0 3px 9px rgba(207, 212, 222, 0.9);
        color: #fff;
        border: none;
        animation: myCart 0.2s ease;

        &:hover span {
          margin-left: 5px;
        }
      }
      @keyframes myCart {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}
/*----*/
.my-social-media {
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 25px;

  a {
    transition: all 0.3s ease;

    &:hover {
      font-size: 26px;
    }
  }
  a:first-child {
    color: #1e2329;
  }
  a:nth-child(2) {
    color: #1da1f2;
    margin: 0 15px;
  }
  a:last-child {
    color: #d12c84;
  }
}
